In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_df = pd.read_csv("train_LZdllcl.csv")
test_df = pd.read_csv("test_2umaH9m.csv")

In [3]:
train_df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [4]:
# Change the datatypes as required
# for training data
train_df['no_of_trainings'] = train_df['no_of_trainings'].astype("object")
train_df['KPIs_met >80%'] = train_df['KPIs_met >80%'].astype("object")
train_df['awards_won?'] = train_df['awards_won?'].astype("object")
train_df['is_promoted'] = train_df['is_promoted'].astype("object")

# for test data

test_df['no_of_trainings'] = test_df['no_of_trainings'].astype("object")
test_df['KPIs_met >80%'] = test_df['KPIs_met >80%'].astype("object")
test_df['awards_won?'] = test_df['awards_won?'].astype("object")

In [5]:
train_df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings          object
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%            object
awards_won?              object
avg_training_score        int64
is_promoted              object
dtype: object

In [6]:
train_df.isna().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [7]:
train_df.education.mode().values

array(["Bachelor's"], dtype=object)

In [8]:
train_df.isna().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [9]:
train_df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings          object
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%            object
awards_won?              object
avg_training_score        int64
is_promoted              object
dtype: object

In [10]:
train_df[train_df.education.isna()==True].index

Int64Index([   10,    21,    32,    43,    82,    87,    90,   189,   204,
              231,
            ...
            54599, 54606, 54655, 54671, 54686, 54692, 54717, 54729, 54742,
            54806],
           dtype='int64', length=2409)

In [11]:
train_df.columns.get_loc('education')

3

In [12]:
train_df.iloc[train_df[train_df.education.isna()==True].index,train_df.columns.get_loc('education')] = "Bachelor's"

In [13]:
train_df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [14]:
train_df.isna().sum()

employee_id                0
department                 0
region                     0
education                  0
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [15]:
train_df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings          object
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%            object
awards_won?              object
avg_training_score        int64
is_promoted              object
dtype: object

In [20]:
train_df.columns.get_loc('previous_year_rating')

8

In [19]:
train_df['previous_year_rating'].mean()

3.329255780917055

In [21]:
train_df.iloc[train_df[train_df.previous_year_rating.isna()==True].index,train_df.columns.get_loc('previous_year_rating')] = train_df['previous_year_rating'].mean()

In [22]:
train_df.isna().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64