# ML model to predict Employee Attriation

In [1]:
# Checking python version
from platform import python_version
print(python_version())

3.7.0

### Import required libraries

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

import matplotlib.pyplot as plt

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# 1. Read and Explore the data

In [4]:
df = pd.read_csv("Employee Attrition.csv")

In [5]:
# shape of the data frame
print ("The shape of dataframe is :",df.shape)

The shape of dataframe is : (1470, 34)

In [6]:
# checking datatypes
print("The datatypes of the coloums :\n",df.dtypes)

The datatypes of the coloums :
 EmployeeNumber               int64
Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                   object
EducationField              object
EnvironmentSatisfaction     object
Gender                      object
HourlyRate                   int64
JobInvolvement              object
JobLevel                     int64
JobRole                     object
JobSatisfaction             object
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating           object
RelationshipSatisfaction    object
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance             object
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [7]:
# column names of data frame
col_names = list(df.columns)
col_names

['EmployeeNumber',
 'Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'Over18',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

In [8]:
# Check for null values
df.isnull().sum()

EmployeeNumber              0
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [9]:
# description of the data
df.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
EmployeeNumber,1470,NaN,NaN,NaN,735.5,424.497,1,368.25,735.5,1102.75,1470
Age,1470,NaN,NaN,NaN,36.9238,9.13537,18,30,36,43,60
Attrition,1470,2,No,1233,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel,1470,3,Travel_Rarely,1043,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DailyRate,1470,NaN,NaN,NaN,802.486,403.509,102,465,802,1157,1499
Department,1470,3,Research & Development,961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DistanceFromHome,1470,NaN,NaN,NaN,9.19252,8.10686,1,2,7,14,29
Education,1470,5,Bachelor,572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField,1470,6,Life Sciences,606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EnvironmentSatisfaction,1470,4,High,453,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,1470,2,Male,882,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HourlyRate,1470,NaN,NaN,NaN,65.8912,20.3294,30,48,66,83.75,100
JobInvolvement,1470,4,High,868,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobLevel,1470,NaN,NaN,NaN,2.06395,1.10694,1,1,2,3,5
JobRole,1470,9,Sales Executive,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobSatisfaction,1470,4,Very High,459,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MaritalStatus,1470,3,Married,673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyIncome,1470,NaN,NaN,NaN,6502.93,4707.96,1009,2911,4919,8379,19999
MonthlyRate,1470,NaN,NaN,NaN,14313.1,7117.79,2094,8047,14235.5,20461.5,26999
NumCompaniesWorked,1470,NaN,NaN,NaN,2.6932,2.49801,0,1,2,4,9
Over18,1470,1,Y,1470,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OverTime,1470,2,No,1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,1470,NaN,NaN,NaN,15.2095,3.65994,11,12,14,18,25
PerformanceRating,1470,2,Excellent,1244,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RelationshipSatisfaction,1470,4,High,459,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StandardHours,1470,NaN,NaN,NaN,80,0,80,80,80,80,80
StockOptionLevel,1470,NaN,NaN,NaN,0.793878,0.852077,0,0,1,1,3
TotalWorkingYears,1470,NaN,NaN,NaN,11.2796,7.78078,0,6,10,15,40
TrainingTimesLastYear,1470,NaN,NaN,NaN,2.79932,1.28927,0,2,3,3,6
WorkLifeBalance,1470,4,Better,893,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YearsAtCompany,1470,NaN,NaN,NaN,7.00816,6.12653,0,3,5,9,40
YearsInCurrentRole,1470,NaN,NaN,NaN,4.22925,3.62314,0,2,3,7,18
YearsSinceLastPromotion,1470,NaN,NaN,NaN,2.18776,3.22243,0,0,1,3,15
YearsWithCurrManager,1470,NaN,NaN,NaN,4.12313,3.56814,0,2,3,7,17

# Number of unique values of each column

In [10]:
for i in df.columns:
    print ("Number of unique value in {} column are {} \n The unique values are{} :".format(i,len(df[i].unique()),df[i].unique()))
    print("\n____________________________________\n")

Number of unique value in EmployeeNumber column are 1470
 The unique values are[   1    2    3 ... 1468 1469 1470] :

____________________________________

Number of unique value in Age column are 43
 The unique values are[41 49 37 33 27 32 59 30 38 36 35 29 31 34 28 22 53 24 21 42 44 46 39 43
 50 26 48 55 45 56 23 51 40 54 58 20 25 19 57 52 47 18 60] :

____________________________________

Number of unique value in Attrition column are 2
 The unique values are['Yes' 'No'] :

____________________________________

Number of unique value in BusinessTravel column are 3
 The unique values are['Travel_Rarely' 'Travel_Frequently' 'Non-Travel'] :

____________________________________

Number of unique value in DailyRate column are 886
 The unique values are[1102  279 1373 1392  591 1005 1324 1358  216 1299  809  153  670 1346
  103 1389  334 1123 1219  371  673 1218  419  391  699 1282 1125  691
  477  705  924 1459  125  895  813 1273  869  890  852 1141  464 1240
 1357  994  721 1360 1065  408 1211 1229  626 1434 1488 1097 1443  515
  853 1142  655 1115  427  653  989 1435 1223  836 1195 1339  664  318
 1225 1328 1082  548  132  746  776  193  397  945 1214  111  573 1153
 1400  541  432  288  669  530  632 1334  638 1093 1217 1353  120  682
  489  807  827  871  665 1040 1420  240 1280  534 1456  658  142 1127
 1031 1189 1354 1467  922  394 1312  750  441  684  249  841  147  528
  594  470  957  542  802 1355 1150 1329  959 1033 1316  364  438  689
  201 1427  857  933 1181 1395  662 1436  194  967 1496 1169 1145  630
  303 1256  440 1450 1452  465  702 1157  602 1480 1268  713  134  526
 1380  140  629 1356  328 1084  931  692 1069  313  894  556 1344  290
  138  926 1261  472 1002  878  905 1180  121 1136  635 1151  644 1045
  829 1242 1469  896  992 1052 1147 1396  663  119  979  319 1413  944
 1323  532  818  854 1034  771 1401 1431  976 1411 1300  252 1327  832
 1017 1199  504  505  916 1247  685  269 1416  833  307 1311  128  488
  529 1210 1463  675 1385 1403  452  666 1158  228  996  728 1315  322
 1479  797 1070  442  496 1372  920  688 1449 1117  636  506  444  950
  889  555  230 1232  566 1302  812 1476  218 1132 1105  906  849  390
  106 1249  192  553  117  185 1091  723 1220  588 1377 1018 1275  798
  672 1162  508 1482  559  210  928 1001  549 1124  738  570 1130 1192
  343  144 1296 1309  483  810  544 1062 1319  641 1332  756  845  593
 1171  350  921 1144  143 1046  575  156 1283  755  304 1178  329 1362
 1371  202  253  164 1107  759 1305  982  821 1381  480 1473  891 1063
  645 1490  317  422 1485 1368 1448  296 1398 1349  986 1099 1116 1499
  983 1009 1303 1274 1277  587  413 1276  988 1474  163  267  619  302
  443  828  561  426  232 1306 1094  509  775  195  258  471  799  956
  535 1495  446 1245  703  823 1246  622 1287  448  254 1365  538  525
  558  782  362 1236 1112  204 1343  604 1216  646  160  238 1397  306
  991  482 1176  913 1076  727  885  243  806  817 1410 1207 1442  693
  929  562  608  580  970 1179  294  314  316  654  168  381  217  501
  650  141  804  975 1090  346  430  268  167  621  527  883  954  310
  719  725  715  657 1146  182  376  571  384  791 1111 1243 1092 1325
  805  213  118  676 1252  286 1258  932 1041  859  720  946 1184  436
  589  760  887 1318  625  180  586 1012  661  930  342 1230 1271 1278
  607  130  300  583 1418 1269  379  395 1265 1222  341  868 1231  102
  881 1383 1075  374 1086  781  177  500 1425 1454  617 1085  995 1122
  618  546  462 1198 1272  154 1137 1188  188 1333  867  263  938  129
  616  498 1404 1053  289 1376  231  152  882  903 1379  335  722  461
  974 1126  840 1134  248  955  939 1391 1206  287 1441  109 1066  277
  466 1055  265  135  247 1035  266  145 1038 1234 1109 1089  788  124
  660 1186 1464  796  415  769 1003 1366  330 1492 1204  309 1330  469
  697 1262 1050  770  406  203 1308  984  439  793 1451 1182  174  490
  718  433  773  603  874  367  199  481  647 1384  902  819  862 1457
  977  942 1402 1421 1361  917  200  150  179  696  116  363  107 1465
  458 1212 1103  966 1010  326 1098  969 1167  694 1320  536  373  599
  251  131  237 1429  648  735  531  429  968  879  640  412  848  360
 1138  325 1322  299 1030  634  524  256 1060  935  495  282  206  943
  523  507  601  855 1291 1405 1369  999 1202  285  404  736 1498 1200
 1439  499  205  683 1462  949  652  332 1475  337  971 1174  667  560
  172  383 1255  359  401  377  592 1445 1221  866  981  447 1326  748
  990  405  115  790  830 1193 1423  467  271  410 1083  516  224  136
 1029  333 1440  674 1342  898  824  492  598  740  888 1288  104 1108
  479 1351  474  437  884 1370  264 1059  563  457 1313  241 1015  336
 1387  170  208  671  711  737 1470  365  763  567  486  772  301  311
  584  880  392  148  708 1259  786  370  678  146  581  918 1238  585
  741  552  369  717  543  964  792  611  176  897  600 1054  428  181
  211 1079  590  305  953  478 1375  244  511 1294  196  734 1239 1253
 1128 1336  234  766  261 1194  431  572 1422 1297  574  355  207  706
  280  726  414  352 1224  459 1254 1131  835 1172 1266  783  219 1213
 1096 1251 1394  605 1064 1337  937  157  754 1168  155 1444  189  911
 1321 1154  557  642  801  161 1382 1037  105  582  704  345 1120 1378
  468  613 1023  628] :

____________________________________

Number of unique value in Department column are 3
 The unique values are['Sales' 'Research & Development' 'Human Resources'] :

____________________________________

Number of unique value in DistanceFromHome column are 29
 The unique values are[ 1  8  2  3 24 23 27 16 15 26 19 21  5 11  9  7  6 10  4 25 12 18 29 22
 14 20 28 17 13] :

____________________________________

Number of unique value in Education column are 5
 The unique values are['College' 'Below College' 'Master' 'Bachelor' 'Doctor'] :

____________________________________

Number of unique value in EducationField column are 6
 The unique values are['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources'] :

____________________________________

Number of unique value in EnvironmentSatisfaction column are 4
 The unique values are['Medium' 'High' 'Very High' 'Low'] :

____________________________________

Number of unique value in Gender column are 2
 The unique values are['Female' 'Male'] :

____________________________________

Number of unique value in HourlyRate column are 71
 The unique values are[ 94  61  92  56  40  79  81  67  44  84  49  31  93  50  51  80  96  78
  45  82  53  83  58  72  48  42  41  86  97  75  33  37  73  98  36  47
  71  30  43  99  59  95  57  76  87  66  55  32  52  70  62  64  63  60
 100  46  39  77  35  91  54  34  90  65  88  85  89  68  69  74  38] :

____________________________________

Number of unique value in JobInvolvement column are 4
 The unique values are['High' 'Medium' 'Very High' 'Low'] :

____________________________________

Number of unique value in JobLevel column are 5
 The unique values are[2 1 3 4 5] :

____________________________________

Number of unique value in JobRole column are 9
 The unique values are['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources'] :

____________________________________

Number of unique value in JobSatisfaction column are 4
 The unique values are['Very High' 'Medium' 'High' 'Low'] :

____________________________________

Number of unique value in MaritalStatus column are 3
 The unique values are['Single' 'Married' 'Divorced'] :

____________________________________

Number of unique value in MonthlyIncome column are 1349
 The unique values are[5993 5130 2090 ... 9991 5390 4404] :

____________________________________

Number of unique value in MonthlyRate column are 1427
 The unique values are[19479 24907  2396 ...  5174 13243 10228] :

____________________________________

Number of unique value in NumCompaniesWorked column are 10
 The unique values are[8 1 6 9 0 4 5 2 7 3] :

____________________________________

Number of unique value in Over18 column are 1
 The unique values are['Y'] :

____________________________________

Number of unique value in OverTime column are 2
 The unique values are['Yes' 'No'] :

____________________________________

Number of unique value in PercentSalaryHike column are 15
 The unique values are[11 23 15 12 13 20 22 21 17 14 16 18 19 24 25] :

____________________________________

Number of unique value in PerformanceRating column are 2
 The unique values are['Excellent' 'Outstanding'] :

____________________________________

Number of unique value in RelationshipSatisfaction column are 4
 The unique values are['Low' 'Very High' 'Medium' 'High'] :

____________________________________

Number of unique value in StandardHours column are 1
 The unique values are[80] :

____________________________________

Number of unique value in StockOptionLevel column are 4
 The unique values are[0 1 3 2] :

____________________________________

Number of unique value in TotalWorkingYears column are 40
 The unique values are[ 8 10  7  6 12  1 17  5  3 31 13  0 26 24 22  9 19  2 23 14 15  4 29 28
 21 25 20 11 16 37 38 30 40 18 36 34 32 33 35 27] :

____________________________________

Number of unique value in TrainingTimesLastYear column are 7
 The unique values are[0 3 2 5 1 4 6] :

____________________________________

Number of unique value in WorkLifeBalance column are 4
 The unique values are['Bad' 'Better' 'Good' 'Best'] :

____________________________________

Number of unique value in YearsAtCompany column are 37
 The unique values are[ 6 10  0  8  2  7  1  9  5  4 25  3 12 14 22 15 27 21 17 11 13 37 16 20
 40 24 33 19 36 18 29 31 32 34 26 30 23] :

____________________________________

Number of unique value in YearsInCurrentRole column are 19
 The unique values are[ 4  7  0  2  5  9  8  3  6 13  1 15 14 16 11 10 12 18 17] :

____________________________________

Number of unique value in YearsSinceLastPromotion column are 16
 The unique values are[ 0  1  3  2  7  4  8  6  5 15  9 13 12 10 11 14] :

____________________________________

Number of unique value in YearsWithCurrManager column are 18
 The unique values are[ 5  7  0  2  6  8  3 11 17  1  4 12  9 10 15 13 16 14] :

____________________________________

In [11]:
# categorical columns
cat_col = []
for i in col_names:
    if df[i].dtype =='object':
        cat_col.append(i)

In [12]:
cat_col

['Attrition',
 'BusinessTravel',
 'Department',
 'Education',
 'EducationField',
 'EnvironmentSatisfaction',
 'Gender',
 'JobInvolvement',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'Over18',
 'OverTime',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'WorkLifeBalance']

In [13]:
df.Education.unique()

array(['College', 'Below College', 'Master', 'Bachelor', 'Doctor'],
      dtype=object)

In [14]:
# convert ordinal columns to integers 
df.Education = df.Education.replace(to_replace=[1,2,3,4,5],value=['Below College','College','Bachelor','Master', 'Doctor'])

In [15]:
df.EnvironmentSatisfaction.unique()

array(['Medium', 'High', 'Very High', 'Low'], dtype=object)

In [16]:
# convert ordinal columns to integers 
df.EnvironmentSatisfaction = df.EnvironmentSatisfaction.replace(to_replace=[1,2,3,4],value=['Low','Medium', 'High', 'Very High' ])

In [17]:
df.JobInvolvement.unique()

array(['High', 'Medium', 'Very High', 'Low'], dtype=object)

In [18]:
# convert ordinal columns to integers 
df.JobInvolvement = df.JobInvolvement.replace(to_replace=[1,2,3,4],value=['Low','Medium', 'High', 'Very High' ])

In [19]:
df.JobSatisfaction.unique()

array(['Very High', 'Medium', 'High', 'Low'], dtype=object)

In [20]:
# convert ordinal columns to integers 
df.JobSatisfaction = df.JobSatisfaction.replace(to_replace=[1,2,3,4],value=['Low','Medium', 'High', 'Very High' ])

In [21]:
df.PerformanceRating.unique()

array(['Excellent', 'Outstanding'], dtype=object)

In [22]:
# convert ordinal columns to integers 
df.PerformanceRating = df.PerformanceRating.replace(to_replace=[3,4],value=['Excellent', 'Outstanding'])

In [23]:
df.RelationshipSatisfaction.unique()

array(['Low', 'Very High', 'Medium', 'High'], dtype=object)

In [24]:
# convert ordinal columns to integers 
df.RelationshipSatisfaction = df.RelationshipSatisfaction.replace(to_replace=[1,2,3,4],value=['Low','Medium', 'High', 'Very High' ])

In [25]:
df.WorkLifeBalance.unique()

array(['Bad', 'Better', 'Good', 'Best'], dtype=object)

In [26]:
# convert ordinal columns to integers 
df.WorkLifeBalance = df.WorkLifeBalance.replace(to_replace=[1,2,3,4],value=['Bad', 'Good','Better',  'Best'])

## Convert all categorical values to labels if there are less than 15 unique values

In [27]:
cat_cols=[]
for i in df.columns:
    if df[i].dtype == 'object' or len(df[i].unique())<15:
        cat_cols.append(i)
        print ("{} : {} : {}".format(i,len(df[i].unique()),df[i].unique()))

Attrition : 2 : ['Yes' 'No']
BusinessTravel : 3 : ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Department : 3 : ['Sales' 'Research & Development' 'Human Resources']
Education : 5 : ['College' 'Below College' 'Master' 'Bachelor' 'Doctor']
EducationField : 6 : ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
EnvironmentSatisfaction : 4 : ['Medium' 'High' 'Very High' 'Low']
Gender : 2 : ['Female' 'Male']
JobInvolvement : 4 : ['High' 'Medium' 'Very High' 'Low']
JobLevel : 5 : [2 1 3 4 5]
JobRole : 9 : ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
JobSatisfaction : 4 : ['Very High' 'Medium' 'High' 'Low']
MaritalStatus : 3 : ['Single' 'Married' 'Divorced']
NumCompaniesWorked : 10 : [8 1 6 9 0 4 5 2 7 3]
Over18 : 1 : ['Y']
OverTime : 2 : ['Yes' 'No']
PerformanceRating : 2 : ['Excellent' 'Outstanding']
RelationshipSatisfaction : 4 : ['Low' 'Very High' 'Medium' 'High']
StandardHours : 1 : [80]
StockOptionLevel : 4 : [0 1 3 2]
TrainingTimesLastYear : 7 : [0 3 2 5 1 4 6]
WorkLifeBalance : 4 : ['Bad' 'Better' 'Good' 'Best']

In [28]:
cat_cols

['Attrition',
 'BusinessTravel',
 'Department',
 'Education',
 'EducationField',
 'EnvironmentSatisfaction',
 'Gender',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'NumCompaniesWorked',
 'Over18',
 'OverTime',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TrainingTimesLastYear',
 'WorkLifeBalance']

In [29]:
df[cat_cols].dtypes

Attrition                   object
BusinessTravel              object
Department                  object
Education                   object
EducationField              object
EnvironmentSatisfaction     object
Gender                      object
JobInvolvement              object
JobLevel                     int64
JobRole                     object
JobSatisfaction             object
MaritalStatus               object
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PerformanceRating           object
RelationshipSatisfaction    object
StandardHours                int64
StockOptionLevel             int64
TrainingTimesLastYear        int64
WorkLifeBalance             object
dtype: object

## convert all columns in cat_cols to categorical datatype

In [30]:
for i in cat_cols:
    df[i]=df[i].astype("category")

In [31]:
df[cat_cols].dtypes

Attrition                   category
BusinessTravel              category
Department                  category
Education                   category
EducationField              category
EnvironmentSatisfaction     category
Gender                      category
JobInvolvement              category
JobLevel                    category
JobRole                     category
JobSatisfaction             category
MaritalStatus               category
NumCompaniesWorked          category
Over18                      category
OverTime                    category
PerformanceRating           category
RelationshipSatisfaction    category
StandardHours               category
StockOptionLevel            category
TrainingTimesLastYear       category
WorkLifeBalance             category
dtype: object

## Summary of categorical columns

In [32]:
df.describe(include="category").transpose()

                         count unique                     top  freq
Attrition                 1470      2                      No  1233
BusinessTravel            1470      3           Travel_Rarely  1043
Department                1470      3  Research & Development   961
Education                 1470      5                Bachelor   572
EducationField            1470      6           Life Sciences   606
EnvironmentSatisfaction   1470      4                    High   453
Gender                    1470      2                    Male   882
JobInvolvement            1470      4                    High   868
JobLevel                  1470      5                       1   543
JobRole                   1470      9         Sales Executive   326
JobSatisfaction           1470      4               Very High   459
MaritalStatus             1470      3                 Married   673
NumCompaniesWorked        1470     10                       1   521
Over18                    1470      1                       Y  1470
OverTime                  1470      2                      No  1054
PerformanceRating         1470      2               Excellent  1244
RelationshipSatisfaction  1470      4                    High   459
StandardHours             1470      1                      80  1470
StockOptionLevel          1470      4                       0   631
TrainingTimesLastYear     1470      7                       2   547
WorkLifeBalance           1470      4                  Better   893

In [33]:
num_cols = [i for i in df.columns if i not in cat_cols]
num_cols

['EmployeeNumber',
 'Age',
 'DailyRate',
 'DistanceFromHome',
 'HourlyRate',
 'MonthlyIncome',
 'MonthlyRate',
 'PercentSalaryHike',
 'TotalWorkingYears',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

# Building Prediction model

In [34]:
df.head()

,EmployeeNumber,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Yes,Travel_Rarely,1102,Sales,1,College,Life Sciences,Medium,...,Low,80,0,8,0,Bad,6,4,0,5
1,2,49,No,Travel_Frequently,279,Research & Development,8,Below College,Life Sciences,High,...,Very High,80,1,10,3,Better,10,7,1,7
2,3,37,Yes,Travel_Rarely,1373,Research & Development,2,College,Other,Very High,...,Medium,80,0,7,3,Better,0,0,0,0
3,4,33,No,Travel_Frequently,1392,Research & Development,3,Master,Life Sciences,Very High,...,High,80,0,8,3,Better,8,7,3,0
4,5,27,No,Travel_Rarely,591,Research & Development,2,Below College,Medical,Low,...,Very High,80,1,6,3,Better,2,2,2,2

In [35]:
df.shape

(1470, 34)

## Lable Encoding

In [36]:
from sklearn.preprocessing import LabelEncoder

df_lb_encd = df.select_dtypes(exclude=['number']) \
                .apply(LabelEncoder().fit_transform) \
                .join(df.select_dtypes(include=['number']))

### Target

In [37]:
y=df_lb_encd['Attrition']

In [38]:
y.shape

(1470,)

### Predictors

In [39]:
X = df_lb_encd.drop(columns="Attrition")

In [40]:
X.shape

(1470, 33)

### Split data into train and test

In [41]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1234)

In [42]:
# Shape of train and test
print("train shape {} \n test shape  {}".format(X_train.shape,X_test.shape))

train shape (1029, 33)
 test shape  (441, 33)

In [43]:
type(y_train)

pandas.core.series.Series

In [44]:
type(X_train)

pandas.core.frame.DataFrame

## Logistic Regression

In [45]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()

### Training the model

In [46]:
log_reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Predict on first 10 test values

In [47]:
log_reg.predict(X_test[0:10])

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0], dtype=int64)

In [48]:
y_test[0:10]

520     0
286     1
347     0
1245    0
1153    1
338     0
1430    0
1438    1
466     0
536     0
Name: Attrition, dtype: int64

### Predict on test data

In [49]:
predict_log_reg = log_reg.predict(X_test)

In [50]:
score = log_reg.score(X_test,y_test)
score

0.854875283446712

## Confusion Matrix

In [51]:
from sklearn import metrics

In [52]:
log_reg_cm = metrics.confusion_matrix(y_test,predict_log_reg)
log_reg_cm

array([[367,   4],
       [ 60,  10]], dtype=int64)

# Decision Tree

In [ ]:
# import libaries
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [62]:
# train Decision tree
dt_clf = tree.DecisionTreeClassifier()
dt_clf= dt_clf.fit(X_train,y_train)

In [63]:
dt_clf.predict(X_test[0:10])

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 0], dtype=int64)

In [65]:
y_test[0:10]

520     0
286     1
347     0
1245    0
1153    1
338     0
1430    0
1438    1
466     0
536     0
Name: Attrition, dtype: int64

### prediction on test data by decision tree

In [66]:
# predicting on test data
dt_clf_test_pdt = dt_clf.predict(X_test)

## Confusion matrix

In [70]:
from sklearn import metrics
dt_clf_CM = metrics.confusion_matrix(y_true=y_test,y_pred=dt_clf_test_pdt)
print ("Confusion matrix of DT")
dt_clf_CM

Confusion matrix of DT

array([[331,  40],
       [ 44,  26]], dtype=int64)

In [72]:
# Accuracy
dt_clf.score(X=X_test,y=y_test)

0.8095238095238095

# Decision tree using gini

In [76]:
dt_clf_gini = DecisionTreeClassifier(criterion="gini",random_state=100,max_depth=3,min_samples_leaf=5)

In [77]:
dt_clf_gini.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [78]:
dt_clf_gini.score(X=X_test,y=y_test)

0.8503401360544217

In [79]:
# prediction on test data
dt_clf_gini_test_pdt = dt_clf_gini.predict(X=X_test)

In [81]:
from sklearn import metrics
dt_clf_gini_CM = metrics.confusion_matrix(y_true=y_test,y_pred=dt_clf_gini_test_pdt)
print ("Confusion matrix of DT")
dt_clf_gini_CM

Confusion matrix of DT

array([[361,  10],
       [ 56,  14]], dtype=int64)

In [82]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = dt_clf_gini

ModuleNotFoundError: No module named 'pydot'

In [ ]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = dt_clf_gini.estimators_[5]
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')